name: ci
on:
  push:
    branches:
      - main

jobs: 

  publish-artifact:
    runs-on: ubuntu-latest

    permissions: 
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Set up Maven Settings for deploy
        uses: s4u/maven-settings-action@v2.1.1
      - name: Publish package
        env:
          USER_GITHUB: ${{ secrets.USER_GITHUB }}
          TOKEN_GITHUB: ${{ secrets.TOKEN_GITHUB }}
        run: mvn --settings settings.xml --file pom.xml deploy
 
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.USER_DOCKER }}
          password: ${{  secrets.PASSWORD_DOCKER }}
      - name: build and push to docker
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: kelly1311/new-repo:app-MCIC-Java21
